<div class="row">
    <div class="col-md-6 offset-md-4 mt-4">
        <h3>Register Page</h3>
        <form>
            <div class="form-group">
                <label for="registerUsername">Enter Username</label>
                <input type="text" class="form-control" id="registerUsername">
           </div>
            <div class="form-group">
                <label for="loginPassword">Enter Password</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>
           <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>